@model Delivery.Models.Restaurante

<h1>Cadastro de Restaurante</h1>

@if (ViewBag.Erro != null)
{
    <div style="color:red;">
        @ViewBag.Erro
    </div>
}

@if (TempData["Sucesso"] != null)
{
    <script>
        if (confirm("@TempData["Sucesso"]")) {
            window.location.href = "/Home/Index";
        }
    </script>
}

<form asp-action="Restaurante" method="post">

    <input type="hidden" asp-for="RestauranteId" />

    <div>
        <label>Nome</label>
        <input type="text" asp-for="Nome" required />
    </div>

    <br />

    <div>
        <label>CNPJ</label>
        <input type="text" asp-for="CNPJ" required />
    </div>

    <br />

    <div>
        <label>Telefone</label>
        <input type="text" asp-for="Telefone" />
    </div>

    <br />

    <div>
        <label>Endereço</label>
        <input type="text" asp-for="Endereco" />
    </div>

    <br />

    <div>
        <label>Senha</label>

        <input type="password"
               name="Senha"
               value="@Model.Senha"
               required />
    </div>

    <br />

    <button type="submit">
        Salvar edição
    </button>

</form>