@model List<Delivery.Models.Admin>

<h1>Admins Desativos</h1>

<table border="1" cellpadding="10">

    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var admin in Model)
        {
            <tr>
                <td>@admin.Nome</td>
                <td>@admin.Cpf</td>

                <td>
                    <a href="/Desativar/AtivarAdmin?id=@admin.AdminId"
                       onclick="return confirm('Deseja realmente ativar este admin?')">

                        <button type="button">
                            Ativar
                        </button>

                    </a>
                </td>
            </tr>
        }

    </tbody>

</table>

<br />

<a href="/Desativar/PerguntaAdmin">
    <button type="button">
        Voltar
    </button>
</a>