<h1>Escolha uma categoria</h1>

<a href="/Desativar/ClienteAtivo">
    <button type="button">
        Clientes Ativos
    </button>
</a>

<a href="/Desativar/ClienteDesativo">
    <button type="button">
        Clientes Desativos
    </button>
</a>

@if (TempData["Mensagem"] != null)
{
    <script>
        alert("@TempData["Mensagem"]");
        window.location.href = "/Home/Index";
    </script>
}