@model List<Delivery.Models.Restaurante>

<h1>Restaurantes Ativos</h1>

<table border="1" cellpadding="10">

    <thead>
        <tr>
            <th>Nome</th>
            <th>CNPJ</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var restaurante in Model)
        {
            <tr>
                <td>@restaurante.Nome</td>
                <td>@restaurante.CNPJ</td>

                <td>
                    <a href="/Desativar/DesativarRestaurante?id=@restaurante.RestauranteId"
                       onclick="return confirm('Deseja realmente desativar este Restaurante?')">

                        <button type="button">
                            Desativar
                        </button>

                    </a>
                </td>
            </tr>
        }

    </tbody>

</table>

<br />

<a href="/Desativar/PerguntaRestaurante">
    <button type="button">
        Voltar
    </button>
</a>